<input type="radio" id="tbutton" value="Twitter"/>Twitter</br>
<input type="radio" id="sbutton" value="SMS"/>SMS</br>
<input type="radio" id="ebutton" value="Email"/>Email</br>

<p>To:</p>
<input type="text" size="30" id="text_field" />

<p>Message:</p>
<textarea cols"40" rows="5" id="text_area"></textarea>
</br>
<input type="button" id="client_button" value="SEND"/>

<div id='message'>
</div>